*{
    margin: 0%;
    padding: 0%;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
  }
  
  .navbar{
    background-color: #141944;
    padding: 20px 5%;
  
  }
  .navbar-nav a{
    color: white;
    font-size: 12px;
  }
  .nav-item{
    margin-left: 20px;
  }
  
  .nav-link:hover{
    color: white;
  }
  .navbar-logo img{
    width: 200px;
    height: 40px;
  }
  /* ================================================ */
    dropdown {
      float: left;
      overflow: hidden;
    }
    
    .dropdown .dropbtn {
      font-size: 12px;  
      border: none;
      outline: none;
      color: white;
      padding: 8px 0px 8px 20px;
      background-color: inherit;
      font-family: inherit;
      margin: 0;
    }
    
    
    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f9f9f9;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
    }
    
    .dropdown-content a {
      float: none;
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      text-align: left;
    }
    
    .dropdown-content a:hover {
      background-color: #ddd;
    }
    
    .dropdown:hover .dropdown-content {
      display: block;
    }


    .reqbtn{
      border: none;
      background-color: #F7536E;
      color: white;
      padding: 15px 40px 10px 40px;
      display: flex;
      /* margin-top: 5% !important; */
    }
    .reqbtn h4{
      font-size: 14px;
      font-weight: 300;
    }
    .reqbtn i{
      padding-left: 30px;
    }
   /*  ================================= */

    .form{
      background-color: white;
      margin: 0%;
      padding: 0 1% 0 0 ;
    }

    .hire{
      padding: 3% 0 5% 0;
     }
    .hire h2{
      font-weight: 500;
    }
    .hire h6{
      font-weight: 400;
    }
 
    .f-1 input,.f-2 input{
      border: 1px solid #B2B2B2;
      padding: 10px 20px;
    }
    
    .f-1 input::placeholder,.f-2 input::placeholder,.form-item textarea::placeholder{
      color: black;
      font-size: 14px;
    }
    .f-2{
      padding: 3% 0;
    }
    .i-2,.i-4{
      margin-left: 20px;
    }
    
    .form-item textarea{
        border: 1px solid #B2B2B2;
        padding: 10px 20px;
        width: 510px;
    }
    
    .form-item button{
        margin-top: 20px;
    }
    .form-con{
        margin: auto;
        padding-left: 6%;
    }
    .form-img img{
        width: 100%;
        height: 100%;
    }
    .form-img {
        display: flex;
        justify-content: center;
    }

    .contact{
        background-color: #F2F3FF;
        padding: 2% 5%;
        margin: 0%;
    }
    .contact-con{
        display: flex;
        justify-content: center;
    }
    .contact-img img{
        width: 200px;
        height: 150px;
    }
    .contact-text-1{
        display: flex;
        column-gap: 40px;
    }   
    .cont-txt{
        padding-top: 3%;
    }
    .cont-txt h3{
        font-size: 18px;
        font-weight: 600;
    }
    .cont-txt p{
        font-size: 15px;
    }
    .contact-text-1 h1{
        border: 1px solid #797DAB;
        height: 70%;
        margin: auto;
    }
    .contact-text-2{
        padding-left: 3%;
    }
    /* ========================= */
    .footer{
        background: #141944;
        height: 15vh;
    }
    
    .footer h6{
        color: white;
        padding: 3% 5% 2% 5%;
        font-size: 14px;
        font-weight: 300;
    }
    .navbar-toggler {
      color: #0b0e2b;
      background-color: #141944;
      border: var(--bs-border-width) solid #0e112e ;
    }
    .navbar-toggler-icon {
        background-image: url("/images/1200px-Hamburger_icon_white.svg.png");
    }

    
  @media(max-width: 1130px) {
    .f-1 input, .f-2 input {
      width: 200px;
    }
    .form-item textarea {
      width: 430px;
    }
  }

  
@media(max-width: 992px) {
  .form-img img {
    width: 100%;
    height: 100%;
  }
  .form-con {
   padding: 3% 6%;
  }

  .contact {
    padding: 2% 1%;
  } 
  
}

@media(max-width: 768px) {

  .form-img {
    height: 100%;
  } 
  .form-img img {
    width:  100%;
    height: 350px;
  }
  .f-1 input, .f-2 input {
    width: 270px;
  }
  .form-item textarea {
    width: 570px;
  }
  .contact-text-1 h1 {
    display: none;
  }
  .contact-text-1 {
    justify-content: center;
  }
  .contact-text-2{
    text-align: center;
  }
 
}

@media(max-width: 576px) {
  .i-2, .i-3 {
    margin-top: 20px;
    margin-left: 0%;
  }
  .i-2, .i-4 {
    margin-top: 20px;
    margin-left: 0%;
  }
  .form-img{
    padding: 0%;
  }
  .form-img img {
    width:  100%;
    height: 350px;
  }
  .contact {
    padding:0%;
  }
  .f-1 input, .f-2 input {
    width: 100%;
  }
  .form-item textarea {
    width: 100%;
  }

  .contact-text-1 h1 {
    display: none;
  }
  .f-2 {
    padding: 0% 0 3% 0;
  }
  .form-con {
    padding: 3% 0 0 6%;
  }
  .contact-text-1 {
    padding: 0%;
    column-gap: 15px;
  }
  
}