*{
    margin: 0%;
    padding: 0%;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

.navbar{
    background-color: #141944;
    padding: 20px 5%;

}
.navbar-nav a{
    color: white;
    font-size: 12px;
}
.nav-item{
    margin-left: 20px;
}

.nav-link:hover{
    color: white;
}
.navbar-logo img{
    width: 200px;
    height: 40px;
}
/* ================================================ */
dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 12px;  
    border: none;
    outline: none;
    color: white;
    padding: 8px 0px 8px 20px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
/* ================================================ */

.home{
    height: 100%;
    background-color: #141944;
    color: white;
    padding: 3% 5% 7% 5%;
}
.home-content{
    padding-bottom: 50px;
}
.con-1 h1{
    border: 2px solid white;
    width: 60%;
    margin-left: 30%;
    margin-top: 15%;   
}
.con-2 h5{
    font-size: 25px;
    font-weight: 300;
}
.con-2 p{
    font-size: 14px;
    font-weight: 300;
    padding-right: 12%;
    padding-top: 10px;
}
.con-2 a{
    text-decoration: none;
    padding-top: 30px;
    color: white;
    font-size: 14px;
}
.con-2 i{
   padding-left: 10px;
   font-size: 20px;
   padding-top: 30px;
   
}

.con-3 img{
    width: 100%;
    height: 272px;
    opacity: 1;
    
}


.box{
    padding-right: 5%;
    margin: 0%;
    background: #F2F3FF;
    
}

.box-1{
    background: #00ADE5;  
    color: white;
    width: 400px;
    height: 100%;
    padding: 1.6% 5%; 
    margin-top: -8%;
}
.box-1 h6{
   font-size: 25px;
   font-weight: 400;
}
.box-1 p{
    font-size: 12px;
    font-weight: 300;
 }
.rd{
    display: flex;
    justify-content: end;
}
.box-2{
    background: #71C556; 
    color: white; 
    width: 400px;
    height: 100%;
    padding: 1.6% 5%;
    margin-top: -8%;
}
.box-2 h6{
    font-size: 25px;
    font-weight: 400;
}
.box-2 p{
    font-size: 12px;
    font-weight: 300;
}
.box-3{
    background: white;  
    width: 400px;
    height: 100%;
    margin-top: -4%;

}

.box-3 h6{
    font-size: 13px;
    font-weight: 400;
    color: #141944;
    padding-top: 5px;

}
.box-3 h1{
    border: 1px solid #141944;
    transform: rotate(90deg);
    height: 30px;
}
.box-head{
    display: flex;
    column-gap: 25px;
    padding: 9% 15% 5% 15%;


}

.box-3 p{
    font-size: 18px;
    font-weight: 400;
    padding: 0% 35% 0% 10%;

}
.box-3 lottie-player{
    width: 200px;
    height: 150px;
    opacity: 1;
    margin-top: -9%;
    
}
.box-anim{
    display: flex;
    justify-content: end;
    padding-bottom: 5%;
}
.box-1 a,.box-2 a{
    text-decoration: none;
    padding-top: 10px;
    color: white;
    font-size: 14px;
}
.box-1 i,.box-2 i{
   padding-left: 10px;
   font-size: 20px;
   padding-top: 12px;
}

.box-4{
    background: #F2F3FF;
    padding: 4% 5% 3% 5%;
    margin: 0%;
    display: flex;
}

.box-5 h4{
    font-size: 40px;
    font-weight: 400;
    padding-bottom: 15px;
}
.box-5 p{
    font-size: 14px;
    font-weight: 400;
    padding: 0% 25% 0 0;
}

.box-6 a{
    text-decoration: none;
    padding-top: 10px;
    color: black;
    font-size: 18px;
}
.box-6 i{
    padding-left: 10px;
    font-size: 20px;
    padding-top: 12px;
}
.box-6{
    display: flex;
    justify-content: start;
    align-items: center;
    width: 20%;

}
.box-5{
    width: 80%;
}
.specialties{
    padding: 5% 7%;
}
.sp-con-1,.sp-con-2,.sp-con-3,.sp-con-4,.sp-con-5,.sp-con-6,.sp-con-7,.sp-con-8{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    width: 250px;
    height: 230px;
    border-radius: 20px;
}
.spec-con{
    display: flex;
    justify-content: space-around;
    row-gap: 25px;
}
.arrow{
    width: 25px;
    height: 25px;
}
.img{
    width: 25px;
    height: 25px;
}

.sp-con-1{
    background: #FFC331;
    color: white;
    display: flex;
    align-items: center;
}

.sp-con-1 h3{
    font-size: 24px;
    font-weight: 300;
    padding: 0 40% 0 5%;
}

.sp-icon{
    display: flex;
    justify-content: space-between;
}

.sp-con-2,.sp-con-3,.sp-con-4,.sp-con-5,.sp-con-6,.sp-con-7{
    padding: 2%;
}
.sp-con-2 h6,.sp-con-3 h6,.sp-con-4 h6,.sp-con-5 h6,.sp-con-6 h6,.sp-con-7 h6{
    font-size: 20px;
    font-weight: 500;
    padding-top: 20px;
    padding-bottom: 10px;
}

.sp-con-2 p,.sp-con-3 p,.sp-con-4 p,.sp-con-5 p,.sp-con-6 p,.sp-con-7 p{
    font-size: 12px;
    font-weight: 300;

}

.sp-con-8{
    background: #FFF7E3;
    color: #FFC331;
}

.sp-con-8 h3{
    font-size: 24px;
    font-weight: 300;
    padding: 25% 20% 0 5%;
}

.sp-con-8 i{
    font-size: 50px;   
    display: flex;
    justify-content: end;
}

/* ======================================= */
.software{
    padding: 0% 5% 3% 5%;
}
.software h1{
     text-align: center;
     font-size: 30px;
     font-weight: 400;
     color: #141944;
     padding: 0% 30% 2% 30%;
}

.soft-con{
    padding: 0 7%;
    justify-content: center;
    gap: 10px;

}

.title{
    display: flex;
    padding: 0% 3%;
    width: 280px;
    height: 100px;
    border-radius: 10px;
    column-gap: 20px;
    align-items: center;
}
.title i{
    font-size: 25px;
}
.title h4{
    font-size: 16px;
}



.t-1,.t-6,.t-11{
    background: #F4F8FE;
}
.t-2,.t-7,.t-12{
    background: #F8ECF8;
}
.t-3,.t-8{
    background: #FBF7EE;
}
.t-4,.t-9{
    background: #EDF9EC;
}
.t-5,.t-10{
    background: #F4F4FB;
}

.t-1 i,.t-6 i,.t-11 i{
    color: #579AFF;
}
.t-2 i,.t-7 i,.t-12 i{
    color: #F168F1;
}
.t-3 i,.t-8 i{
    color: #FFCB55;
}
.t-4 i,.t-9 i{
    color: #FFCB55;
}
.t-5 i,.t-10 i{
    color: #8686F8;
}
/* ---------------------------------------------- */
.bs-client{
    padding: 0% 5% 3% 5%;
}
.clients-1{
    text-align: center;
    justify-content: center;
}
.clients-2{
    row-gap: 35px;
    padding: 0% 23% 2% 23%;
}
.clients-1 h1{
    text-align: center;
    font-size: 30px;
    font-weight: 400;
    color: #141944;
    padding: 3% 30% 2% 30%;
}
.bs-client h1{
    text-align: center;
    font-size: 30px;
    font-weight: 400;
    color: #141944;
    padding: 4% 30% 3% 30%;
}

.client-1{
    display: flex;
    padding: 0% 3%;
    width: 280px;
    height: 100px;
    /* column-gap: 20px; */
    align-items: center;
}
.client-1 img{
    width: 150px;
    height: 60px;
}

.client-2 img{
    width: 250px;
    height: 60px;
}

/* ----------------------------------------- */
.footer{
    background: #141944;
    height: 15vh;
}

.footer h6{
    color: white;
    padding: 3% 5% 2% 5%;
    font-size: 14px;
    font-weight: 300;
}

.navbar-toggler {
    color: #0b0e2b;
    background-color: #141944;
    border: var(--bs-border-width) solid #0e112e ;
}
.navbar-toggler-icon {
    background-image: url("/images/1200px-Hamburger_icon_white.svg.png");
}

/* ---------------------------responsive-------------------------------------- */
@media(max-width: 1130px) {
    .box { 
        padding-right: 1%;
    }
    .box-1,.box-2,.box-3 {
        width: 330px;
        height: 100%;
        padding: 1.6% 1.5%;
    }
}
@media(max-width: 992px) {
    .box {
        padding-right: 0%;
    }
    .box-1,.box-2{
        width:  50%;
        height: 300px;
        padding: 1.6% 1.5%;
    }
    .box-3 {
        width:  100%;
        height: 100%;
        padding: 1.6% 1.5%;
        margin-top: 0%;

    }
    .box-head {
        justify-content: center;
        padding: 3%;
    }
    .box-anim {
        padding-bottom: 1%;
    }
    .software h1 {
        padding: 0% 15% 2% 15%;
    }
    .soft-con {
        padding: 0 0%;
    }
    .box-3 p {
        padding: 0% 15% 0% 10%;
    }
}
@media(max-width: 768px) {
    .con-2 h5 {
        font-size: 22px;
    }
    .con-2 p {
        font-size: 12px;
        padding-right: 0%;
    }
    .home-content {
        padding-bottom: 0px;
    }
    
    .client-1 {
        padding: 0% 0%;
        width: 200px;
    }
    .clients-2 {
        row-gap: 35px;
        padding: 0% 0% 2% 5%;
    }
    .box {
        padding-right: 0%;
    }
    .box-2{
        width: 50%;
        height: 100%;
        padding: 1.6% 5%;
        margin: 0%;
    }
    .box-3 {
        width: 100%;
        height: 100%;
        padding: 1.6% 5%;
        margin: 0%;
    }
    .box-1 {
        width: 50%;
        height: 375px;
        padding: 1.6% 5%;
        margin:0;
    }
    .bs-client h1 {
        padding: 4% 0% 3% 0%;
    }
    .box-3 p {
        padding: 0% 15% 0% 10%;
    }
    .box-6 a {
        font-size: 15px;
    }
    .box-5 p {
        padding: 0% 10% 0 0;
    }
}

@media(max-width: 576px) {
    .con-1 h1 {
        width: 50px;
        margin-left: 0%;
    }
    .con-2{
      padding-bottom: 10px;
    }
    .box-1,.box-2,.box-3{
        width: 100%;
        height: 100%;
        padding: 5% 5%;
    }
    .box-3 h6 {
        font-size: 16px;
    }

    .box-4{
        display: block;
    }
    .box-5,.box-6 {
        width: 100%;
    }
    .box-5 h4 {
        font-size: 30px;
    }
    .software h1 {
        font-size: 22px;
        padding: 2%;
    }
    .bs-client h1 {
        text-align: center;
        font-size: 25px;
        padding: 7% 0% 3% 0%;
    }
    .clients-2 {
        row-gap: 25px;
        padding: 0% 2% 0% 15%;
    }
    
    .title {
        width: 100%;
        padding: 0% 3% 0% 10%;
    }

    .sp-con-1,.sp-con-2,.sp-con-3,.sp-con-4,.sp-con-5,.sp-con-6,.sp-con-7,.sp-con-8{
        width: 45%;
        max-height: 180px;
    }
    

    .sp-con-2 h6, .sp-con-3 h6, .sp-con-4 h6, .sp-con-5 h6, .sp-con-6 h6, .sp-con-7 h6 {
        font-size: 14px;
        padding-top: 10px;
        padding-bottom: 0px;
    }
    

    .sp-con-8 h3 {
        font-size: 20px;
        font-weight: 300;
        padding: 35% 0 0 0;
    }
    

    .sp-con-2 p, .sp-con-3 p, .sp-con-4 p, .sp-con-5 p, .sp-con-6 p, .sp-con-7 p {
        font-size: 10px;
        font-weight: 300;
        margin: 0%;
        padding: 0%;
    }
    .navbar-logo img {
        margin-left: -15%;
    }
    .client-1 {
        width: 50%;
    }
    .clients-1 {
        justify-content: start;
    }
    
}