*{
  margin: 0%;
  padding: 0%;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
}

.navbar{
  background-color: #141944;
  padding: 20px 5%;

}
.navbar-nav a{
  color: white;
  font-size: 12px;
}
.nav-item{
  margin-left: 20px;
}

.nav-link:hover{
  color: white;
}
.navbar-logo img{
  width: 200px;
  height: 40px;
}
/* ================================================ */
dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 12px;  
    border: none;
    outline: none;
    color: white;
    padding: 8px 0px 8px 20px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
/* ================================================ */
.suite{
padding: 6% 5% 3% 5%;
margin: 0%;
}

.suite-1 h1{
  color: #141944;
}
.suite-1 p{
  font-size: 15px;
  color: #636363;
  padding: 3% 0 4% 0;
}

.reqbtn{
  border: none;
  background-color: #F7536E;
  color: white;
  padding: 15px 40px 10px 40px;
  display: flex;
}
.reqbtn h4{
  font-size: 14px;
  font-weight: 300;
}
.reqbtn i{
  padding-left: 30px;

}
.suite-2 img{
  width: 100%;
  height: 90%;
}
/* ================================= */
.list{
  background-color: #F2F3FF;
  padding-bottom: 3%;
}

.list-items{
  padding: 3% 5% 1.7% 5%;
  margin: 0%;
  gap: 20px;
  justify-content: center;
}

.list-1,.list-2,.list-3{
  text-align: center;
  background-color: #FFFFFF;
  width: 350px;
  max-height: 100%;
  border-radius: 15px;
  padding-top: 2%;
}

.list-1 img{
  width: 30px;
  height: 30px;
  margin-bottom: 15px;
}
.list-2 img{
  width: 40px;
  height: 30px;
  margin-bottom: 15px;
}
.list-3 img{
  width: 60px;
  height: 30px;
  margin-bottom: 15px;
}

.list-1 h4,.list-2 h4,.list-3 h4{
  font-size: 20px;
  color: #141944;
}
.list-1 p,.list-2 p,.list-3 p{
  font-size: 14px;
  color: #646464;
}

.download{
  display: flex;
  background-color: white;
  justify-content: center;
  width: 350px;
  height: 60px;
  margin: auto;
  align-items: center;
  border-radius: 15px;
}

.download h6{
  font-size: 12px;
  color: #141944;
  padding-top: 5px;
}

.download button{
  background-color: #F7536E;
  width: 100px;
  height: 28px;
  border: none;
  font-size: 12px;
  color: white;
  border-radius: 10px;
  font-weight: 300;
  margin-left: 15px;
}
/* =============banners=================== */
.banners{
  background-color: #141944;
  height: 100%;
}
.banner-1{
  padding: 5%;
  margin: 0%;

}
.banner-img img{
  width: 90%;
  height: 250px;
}
.banner-text{
  color: white;
  margin-top: 2%;
}
.banner-text h1{
  font-size: 38px;
  font-weight: 400;
}
.banner-text p{
  font-size: 13px;
  padding: 4% 20% 0 0;
}

.banner-sub{
  padding: 4% 5%;
  margin: 0%;
}

.banner-sub h3{
  font-size: 25px;
  font-weight: 400;
  text-align: center;
  padding: 0 10%;
}

.banners-2{
  background-color: #141944;
  height: 100%;
}
.banner-2{
  margin: 0%;
}
.banner-img-2 img{
  width: 85%;
  height: 100%;
}

.banner-text-2{
  padding: 5%;
  color: white;
  height: 80%;
}
.banner-text-2 h1{
  font-size: 48px;
  font-weight: 400;
}
.banner-text-2 p{
  font-size: 13px;
  padding: 4% 15% 0 0;
} 
/* ================================= */
.specialites-1{
  padding: 5% 5%;
}

.heading h1{
  text-align: center;
  font-size: 40px;
  color: #141944;
  font-weight: 400;
  padding-bottom: 15px;
}
.heading p{
  text-align: center;
  font-size: 14px;
  color: #C8C8C8;
  font-weight: 400;
  padding-bottom: 35px;
}
.sp-con-1,.sp-con-2,.sp-con-3,.sp-con-4,.sp-con-5,.sp-con-6,.sp-con-7,.sp-con-8{
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  width: 280px;
  max-height: 100%;
  border-radius: 20px;
}
.spec-con{
  display: flex;
  justify-content: space-around;
  row-gap: 25px;
}

.sp-con-1{
  background: #00ADE5;
  color: white;
  display: flex;
  align-items: center;
}

.sp-con-1 h3{
  font-size: 24px;
  font-weight: 300;
  padding: 0 40% 0 5%;
}
.sp-con-2,.sp-con-3,.sp-con-4,.sp-con-5,.sp-con-6,.sp-con-7{
  padding: 1.5% ;
}
.sp-con-2 h6,.sp-con-3 h6,.sp-con-4 h6,.sp-con-5 h6,.sp-con-6 h6,.sp-con-7 h6{
  font-size: 20px;
  font-weight: 500;
  color: #141944;
}

.sp-con-2 p,.sp-con-3 p,.sp-con-4 p,.sp-con-5 p,.sp-con-6 p,.sp-con-7 p{
  font-size: 12px;
  font-weight: 300;
  margin: 0%;
}

.sp-con-8{
  background: #AFDFEF;
  color:#00ADE5;
}

.sp-con-8 h3{
  font-size: 24px;
  font-weight: 300;
  padding: 25% 20% 0 5%;
}

.sp-con-8 i{
  font-size: 50px;   
  display: flex;
  justify-content: end;
}



.supermarket{
  padding: 7% 0 2% 0;
}
.super-img{
  display: flex;
  justify-content: center;
}
.super-img img{
  width: 500px;
  height: 90%;
}
.text-1{
  padding-bottom: 6%;
}
.text-1 h1,.text-2 h1{
  font-size: 24px;
  color: #141944;
  padding: 0 25% 0 0%;
}  

.text-1 p,.text-2 p{
  font-size: 14px;
  color: #646464;
  padding: 0 16% 0 0%;
}

/* ======================form=================== */
.form{
  padding: 3% 5% 0 5%;
  background-color: #F2F3FF;
}

.f-1 input,.f-2 input{
  border: 1px solid #B2B2B2;
  padding: 10px 20px;
  width: 280px;
}

.f-1 input::placeholder,.f-2 input::placeholder,.form-item textarea::placeholder{
  color: black;
  font-size: 14px;
}
.f-2{
  padding: 3% 0;
}
.i-2,.i-4{
  margin-left: 20px;
}

.form-item textarea{
  border: 1px solid #B2B2B2;
  padding: 10px 20px;
  width: 590px;
}

.form-item button{
  margin-top: 20px;
}
.form-con{
  margin: auto;
}
.form-img img{
  width: 100%;
  height: 100%;
}
.form-img {
  display: flex;
  justify-content: center;
}

.footer{
  background: #141944;
  height: 15vh;
}

.footer h6{
  color: white;
  padding: 3% 5% 2% 5%;
  font-size: 14px;
  font-weight: 300;
}
.navbar-toggler {
  color: #0b0e2b;
  background-color: #141944;
  border: var(--bs-border-width) solid #0e112e ;
}
.navbar-toggler-icon {
  background-image: url("/images/1200px-Hamburger_icon_white.svg.png");
}


@media(max-width: 1130px) {
  .list-1, .list-2, .list-3 {
    width: 300px;
  }
  .sp-con-1, .sp-con-2, .sp-con-3, .sp-con-4, .sp-con-5, .sp-con-6, .sp-con-7, .sp-con-8 {
    width: 250px;
  }
  .spec-con {
    row-gap: 15px;
  }
  .f-1 input, .f-2 input {
    width: 200px;
  }
  .form-item textarea {
    width: 430px;
  }
}

@media(max-width: 992px) {
  .list-1, .list-2, .list-3 {
    width: 250px;
  }
  .list-items {
    padding: 3% 2% 1.7% 2%;
    gap: 10px;
    justify-content: center;
  }
  .sp-con-1, .sp-con-2, .sp-con-3, .sp-con-4, .sp-con-5, .sp-con-6, .sp-con-7, .sp-con-8 {
    width: 230px;
  }
  .spec-con {
    row-gap: 25px;
  }
  .text-1 h1, .text-2 h1 {
    padding: 0 0% 0 10%;
  }
  .text-1 p, .text-2 p {
    padding: 0 0% 0 10%;
  }

  .f-1 input, .f-2 input {
    width: 200px;
  }
  .form-item textarea {
    width: 430px;
  }
}

@media(max-width: 768px) {
  .list-1, .list-2, .list-3 {
    width: 200px;
  }
  .sp-con-1, .sp-con-2, .sp-con-3, .sp-con-4, .sp-con-5, .sp-con-6, .sp-con-7, .sp-con-8 {
    width: 200px;
  }
  .spec-con {
    row-gap: 15px;
  }
  .f-1 input, .f-2 input {
    width: 250px;
  }
  .form-item textarea {
    width: 530px;
  }
  .form-img img {
    width: 60%;
    height: 60%;
  }
  .form-img{
    padding-top: 20px;
    height: 100%;
  }
}

@media(max-width: 576px) {
  .list-1, .list-2, .list-3 {
    width: 48%;
  }
  .list-items {
    padding: 3% 2% 1.7% 2%;
    gap: 10px;
    width: 100%;
  }
  
  .sp-con-1,.sp-con-2,.sp-con-3,.sp-con-4,.sp-con-5,.sp-con-6,.sp-con-7,.sp-con-8{
    width: 45%;
    max-height: 100%;
  }


  .sp-con-2 h6, .sp-con-3 h6, .sp-con-4 h6, .sp-con-5 h6, .sp-con-6 h6, .sp-con-7 h6 {
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 0px;
  }


  .sp-con-8 h3 {
    font-size: 20px;
    font-weight: 300;
    padding: 35% 0 0 0;
  }


  .sp-con-2 p, .sp-con-3 p, .sp-con-4 p, .sp-con-5 p, .sp-con-6 p, .sp-con-7 p {
    font-size: 10px;
    font-weight: 300;
    margin: 0%;
    padding: 0%;
  }

  .suite-2 img {
    padding-top: 15px;
  }
  .super-img img {
    width: 100%;
    height: 90%;
}

  .banner-sub h3 {
    padding: 0;
  }

  .f-1 input, .f-2 input {
    width: 100%;
  }
  .form-item textarea {
    width: 100%;
  }
  .i-2, .i-3 {
    margin-top: 20px;
    margin-left: 0%;
  }
  .i-2, .i-4 {
    margin-top: 20px;
    margin-left: 0%;
  }
  .f-2 {
    padding: 0% 0 3% 0;
  }
}